---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import Hero from '../../components/Hero.astro';
import Skills from '../../components/Skills.astro';
import Experience from '../../components/Experience.astro';
import Projects from '../../components/Projects.astro';
import Contact from '../../components/Contact.astro';
---

<Layout locale="id">
	<div id="home">
		<Navbar locale="id" />
		<main>
			<Hero locale="id" />
			<Skills locale="id" />
			<Experience locale="id" />
			<hr class="border-neutral-200 max-w-6xl mx-auto" />
			<Projects locale="id" />
			<hr class="border-neutral-200 max-w-6xl mx-auto" />
			<Contact locale="id" />
		</main>
	</div>
</Layout>
