---
import Layout from '../../layouts/Layout.astro';
import AppHeader from '../../components/AppHeader.astro';
import SectionAbout from '../../components/SectionAbout.astro';
---

<Layout locale="id">
	<div id="home">
		<AppHeader locale="id" />
		<main>
			<SectionAbout locale="id" />
		</main>
	</div>
</Layout>
