---
import Layout from '../layouts/Layout.astro';
import AppHeader from '../components/AppHeader.astro';
import SectionAbout from '../components/SectionAbout.astro';
---

<Layout locale="en">
	<div id="home">
		<AppHeader locale="en" />
		<main>
			<SectionAbout locale="en" />
		</main>
	</div>
</Layout>
